* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


/* Navbar*/

.navbar {
    padding-top: 1px;
    padding-bottom: 1px;
}

.bg-color {
    background: #050505;
}

.navbar-brand {
    color: #f8f9fa;
    font-weight: bold;
    font-size: 35px !important;
}

.nav-link {
    font-weight: bold;
    color: #f8f9fa;
    font-size: 20px;
}

.btn-group {
    color: #616161;
}

.navbar-toggler {
    color: #f8f9fa;
}


/* End of Navbar */

.profile-pic {
    height: 50vh;
}


/* About Section */

#about {
    display: table;
    width: 100%;
    height: 100vh;
    background: url(../image/about.jpg) top center;
    background-size: cover;
}

@media (min-width: 1024px) {
    /* Image will stick */
    #about {
        background-attachment: fixed;
    }
}

#about .about-logo {
    margin: 20px;
    max-width: 100%;
}

#about .about-container {
    background: rgba(0, 0, 0, 0.2);
    display: table-cell;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
}

#about h1 {
    margin: 30px 0 10px 0;
    font-weight: bold;
    line-height: 48px;
    text-transform: uppercase;
    color: #fff;
}

h3 {
    color: #fff;
    margin: 30px 0 10px 0;
    font-family: 'Bebas Neue', cursive;
}

@media (min-width: 768px) {
    #about h1 {
        font-size: 28px;
        line-height: 36px;
    }
}

#about h2 {
    color: #fff;
    margin-bottom: 50px;
    font-style: italic;
}

@media (max-width :768px) {
    #about h2 {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 30px;
    }
}

#about .actions a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
}

#about .btn-get-started {
    background: #616161;
    border: 2px solid #a85303;
    color: #fff;
}

#about .btn-get-started:hover {
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-style: italic;
}


/* End of about */


/* Start of Project */

.project {
    padding-bottom: 40px;
}

.project .card {
    border: 0;
    padding: 0 30px;
    margin-bottom: 60px;
    position: relative;
    background: transparent;
}

.project .card-img {
    width: calc(100% + 60px);
    margin-left: -30px;
    overflow: hidden;
    z-index: 9;
    border-radius: 0;
}

.card-img-top {
    object-fit: cover;
    height: 100%;
    width: 100%
}

.project .card-img img {
    max-width: 100%;
    transition: all 0.3s ease-in-out;
}

.project .card-body {
    z-index: 10;
    background: rgba(0, 0, 0, 0.2);
    border-top: 4px solid #d9d9d9;
    padding: 10px;
    box-shadow: 5px 0px 38px 2px #515151;
    margin-top: -60px;
    transition: 0.3s;
}

.project .card-title {
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.project .card-title a {
    color: #000;
    transition: 0.3s;
}

.project .card-text {
    color: #000;
}

.project .read-more {
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    transition: 0.3s;
}

.project .card:hover img {
    /* image zoom when hover */
    transform: scale(1.1);
}

.project .card:hover .card-body {
    border-color: #fdc134;
}

.project .card:hover .card-body .card-title a {
    color: #854101;
}


/* Contact */

.contact-me {
    width: 100%;
    background: rgba(231, 151, 2, 0.5);
}

.contact-me .form-group label {
    font-weight: bold;
    color: #000;
}

.btn-submit {
    display: inline-block;
    vertical-align: middle;
    color: #fff!important;
    background: #000!important;
}

.form-table {
    margin: 0 auto;
}

.contact-section {
    background-size: cover;
}

.icon-cog {
    color: black;
}